.Customer{
  position:absolute;
  bottom: 25px;
  left:10px
}

.dash1
{
  position:absolute;
  bottom: 25px;
  left:100px
}
.Story{
  position:absolute;
  bottom: 25px;
  left:130px
}

.dash2
{
  position:absolute;
  bottom: 25px;
  left:230px
}

.Press{
  position:absolute;
  bottom: 25px;
  left:280px
}

.dash3
{
  position:absolute;
  bottom: 25px;
  left:360px
}

.Privacy{
  position:absolute;
  bottom: 25px;
  left:410px
}

.dash4
{
  position:absolute;
  bottom: 25px;
  left:550px
}

.Careers{
  position:absolute;
  bottom: 25px;
  left:600px
}

.PP{
  position:absolute;
  bottom: 15px;
  left:10px
}