.link>a{
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-decoration:none;
  font-style: normal;
  text-align: left;
  margin: 0 15px;
  left: 80px;
}

.listLinks {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footerDiv{
  position:fixed;
  bottom: 0;
  height: 86.5px;
  left: 0%;
  background-color: #1e1e6a;
  width: 100%;
}

.PP{
  position:absolute;
  bottom: 15px;
  font-size: 12px;
  color: #ffffff;
  text-align: left;
  left: 80px;
}
