.cardDeck__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
}

.cardDeck__top_container {
  padding-top: 2%;
}

.cardDeck__card_holder {
  @media (min-width: 768px) {
    display: flex;

  }
  align-self: center;
  margin: 0rem 0rem 0rem -1rem;
}

.cardDeck_title{
  @media (max-width: 768px) {
    margin-right: 1rem;
  }
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 5rem;
}