.cardDeck__container {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
}

.cardDeck__top_container {
  padding-top: 10%;
  padding-bottom: 5%;
}

.cardDeck__card_holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
