.page__intro_section_h1, .page__intro_section_paragraph {
  color: var(--color-secondary);
  padding-bottom: 2rem;
}
.page__meet_the_team{
  color: #2a2a73;
  font-weight: bold;
  margin-top: 70%;
}
.page__intro_section_paragraph {
  width: 29rem;
}
.page__team_members{
  padding-left: 4rem;
}
.page__right_section_margin {
  margin-top: 30%;
  float: right;
}
.page__our_story_paragraph{

}

.page__right_section_margin>h4{
  color: #2a2a73;
}

.page__right_section_margin>p {
  .page__right_section_image {
    width: 45rem;
    float: right;
  }
}