.paragraph_h3_1{
  font-size: 30px;
  color: #ffffff;
}

.paragraph_h3_2{
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-top:0px;
}

.div{
  background-color: #1e1e6a;
  width: 100%;
  top: 0px
  }