.service__container{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.service__top_image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15%;
}

.service__title {
  width: 15rem;
  height: 5rem;
}
