.main{
  position: absolute;
  height: 180px;
  width: 180px;
  left: 30%;
  top: 30%
}

.header{
  border-radius: 90px;
  margin: 0;
  position: absolute;
  top: 115%;
  text-align: center
}

.dash{
  left: 40%;
  margin:0;
  position: absolute;
  width: 40px;
  top:140%;
  text-align: center
}

.text{
  margin:0;
  position: absolute;
  top: 160%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center
}