@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

$color-primary: #162232;
$color-primary-lighter: #1b242d;
$color-accent: #a36e0f;
$color-tertiary: #4071b2;
$color-success: green;
$color-white: #cccccc;
$color-black: #1a1a1a;
$color-danger: #AF0000;

:root {
  --color-primary: #{$color-primary};
  --color-primary-rgb: #{hexToRGB($color-primary)};
  --color-primary-lighter: #{$color-primary-lighter};
  --color-primary-lighter-rgb: #{hexToRGB($color-primary-lighter)};
  --color-accent: #{$color-accent};
  --color-tertiary: #{$color-tertiary};
  --color-success: #{$color-success};

  --color-white: #{$color-white};
  --color-black: #{$color-black};

  --color-danger: #{$color-danger};

  --color-modal: rgba(0, 0, 0, 0.4);
}

.color-success {
  color: var(--color-success);
}

.color-danger {
  color: var(--color-danger);
}
