@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

$color-primary: #000000;
$color-primary-button: #373C95;
$color-primary-background: #191d62;
$color-primary-secondary-button: #070A34;
$color-primary-gradient: linear-gradient(to bottom, #2a2a73, #1e1e6a);

$color-danger: #AF0000;
$color-labeled: #6E6E6E;
$color-secondary: #f9f9f9;
$color-white: #FFFFFF;

$color-secondary-links: #3A9EFD;
$color-secondary-hover: #F8B52E;
$color-secondary-button: #F7A502;
$color-secondary-minimal: #FEEED0;



:root {
  --color-primary: #{$color-primary};
  --color-primary-rgb: #{hexToRGB($color-primary)};
  --color-primary-button: #{$color-primary-button};
  --color-primary-background: #{$color-primary-background};
  --color-primary-secondary-button: #{$color-primary-secondary-button};
  --color-white: #{$color-white};
  --color-danger: #{$color-danger};
  --color-labeled: #{$color-labeled};
  --color-secondary: #{$color-secondary};
  --color-secondary-rgb: #{hexToRGB($color-secondary)};
  --color-secondary-links: #{$color-secondary-links};
  --color-secondary-hover: #{$color-secondary-hover};
  --color-secondary-button: #{$color-secondary-button};
  --color-secondary-minimal: #{$color-secondary-minimal};
  --color-primary-gradient: #{$color-primary-gradient};
}
