.form_container{
  background: #2a2a73;
  width: 100%;
  height: 100%;
}

.demo{
  font-family: Muli;
  font-size: 26px;
  font-weight: 600;
  line-height: 2.88;
  text-align: left;
  color: #ffffff;
}

.form_sub_title{

  font-family: Muli;
  font-size: 13px;
  line-height: 3;
  text-align: left;
  color: #ffffff;
}

.lastName{
  bottom: 345px;
  right: 245px;
  padding: 10px
}

.company{
  bottom: 270px;
  left: 900px;
  padding: 10px
}

.email{
  bottom: 200px;
  left: 900px;
  padding: 10px
}

.button_container{
  padding-left: 69%;
}

.button{

  width: 130px;
  height: 45px;
  border-radius: 32px;
  background-color: #f7a502;
  margin: 30px 10px 25px 25px;
  border: 1em #f7a502;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  font-family:btn-icon;
}

.input_field{
  border-radius: 100px;
  height: 2rem;
  width: 100%;
  border: none;
  padding: 16px;
  font-size: 12px;
}

.label {
  margin-bottom: 0;
  font-weight: 100;
}