.demo{
  position: absolute;
  bottom: 430px;
  left: 900px
}

.fname{
  position: absolute;
  bottom: 345px;
  left: 900px;
  padding: 10px
}

.lname{
  position: absolute;
  bottom: 345px;
  right: 245px;
  padding: 10px
}

.company{
  position: absolute;
  bottom: 270px;
  left: 900px;
  padding: 10px
}

.email{
  position: absolute;
  bottom: 200px;
  left: 900px;
  padding: 10px
}

.button{
  background-color: gold;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  border: 0em;
  font-family:btn-icon !important;
  border-radius: 20px;
  margin: 30px 10px 25px 25px;
  position: absolute;
  padding:0.7em 1.5em;
  bottom: 125px;
  right: 235px
}