.nav_demo_btn_container {
}

.nav_bar_container {
    background: transparent !important;
}

.nav_links_list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.nav_demo_btn{
    width: 7rem;
    height: 2rem;
    border-radius: 100px;
    border-width: 10px;
    border-color: #373c95;
    background-color: #373c95;
    font-family: Muli;
    font-size: 10px;
    line-height: 0.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Pot {
    font-size: 2.5em;
    font-family: HelveticaNeue;
    font-weight: 700;
    text-align: left;
    color: #f7a502;
}

.Pay {
    font-size: 2.5em;
    font-family: HelveticaNeue;
    font-weight: 700;
    text-align: left;
    color: #ecec;
}

.nav_bar {
}

.nav_bar>a {
    font-size: 16px;
    text-align: left;
    color: #ecec !important;
}

/*.Why-PotPay {

    width: 10%;
    height: 10%;
    font-family: Muli;
    font-size: 100%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    flex-direction: row;
}

.How-it-Works {

    width: 10%;
    height: 10%;
    font-family: Muli;
    font-size: 100%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    flex-direction: row;
}

.Get-in-Touch {

    display: flex;

    width: 10%;
    height: 10%;
    font-family: Muli;
    font-size: 100%;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    flex-direction: row;
}

.EN {

    width: 7em;
    height: 2em;
    font-family: Muli;
    font-size: 10px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    flex-direction: row;
}

.AR {
    width: 7em;
    height: 2em;
    font-family: Muli;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #c6c6c6;
    flex-direction: row;
}

/*.Header_container {
    width: 90%;
    height: 75%;
    border-radius: 35%;
    background-color: #191d62;
}*/



