.contact_container{
  background: #2a2a73;
}

.container{
}

.contact_list {
  list-style-type: none;
}

.title{
  font-weight: 600;
  color: #ffffff;
}

.content{
  color: #ffffff;
}

.icon{
  padding-bottom: 1%;
}

.icon_container{
  width: 1.5rem;
  padding-bottom: 2.5%;
}