.contact_container {
}

.container {

}

.contact_list {
  @media (max-width: 768px) {
    padding-left: 0rem;
    margin-bottom: 8rem;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 2rem;
}

.title {
  padding-bottom: 3%;
  text-align: left;
  color: var(--color-white);
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: row;
  color: var(--color-white);
}

.icon {
}

.icon_container {
  width: 1.5rem;
  padding-bottom: 3.5%;
}

.form_list_text {
  margin: 0.5rem 0.5rem .5rem .5rem;
  float: left;
  padding-bottom: 0.5rem;
}
