.contact_container {
}

.container {

}

.contact_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

.title {
  font-weight: 600;
  color: var(--color-white);
}

.content {
  display: flex;
  flex-direction: row;
  color: var(--color-white);
}

.icon {
}

.icon_container {
  width: 1.5rem;
  padding-bottom: 2.5%;
}

.form_list_text {
  margin: 0.5rem 0.5rem .5rem .5rem;
  float: left;
  padding-bottom: 0.5rem;
}
