.page__intro_section_h1,.page__intro_section_h2,.page__intro_section_paragraph {
  @media only screen and (max-width: 768px) {
    color: var(--color-primary);
  }
  color: var(--color-secondary);
}

.page__intro_section_h1 {
  font-size: 40px !important;
  font-weight: 600;
  padding-bottom: 2rem;
}
.page__intro_section_h2{
  font-size: 40px !important;

}

.page__intro_section_paragraph {
  padding-bottom: 2rem;
}

.page__intro_section_button {
  height: 40px;
  width: 135px;
  padding: 5px 18px;
  margin-right: 1.8rem;
  font-weight: 400 !important;
  font-size: 13px !important;
  font-family: sans-serif;
}

.page__right_section_image {
  @media only screen and (max-width: 768px) {
    width: 30rem;
    margin: 3rem 0rem 0rem 0rem;
  }
  width: 50rem;
  float: right;
  margin: -4rem -6rem 0rem 0rem;
}

.page__left_section, .page__right_section_margin {
  margin-top: 5%;
}

.page__services_section:before {
  //content: url("../../../public/illustrations/gray-bckg.svg");
  position: absolute;
  width: 100%;
}

.page__small_cards_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0rem 0rem 0rem 0rem;
}

.page__small_cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  border-radius: 10%;
  width: 12rem;
  height: 15rem;
  text-align: center;
  margin: 2rem;
  padding: 2rem 0 0 0;
  align-items: center;
  background: var(--color-white);
  -webkit-box-shadow: 0px 0px 52px 0px var(--color-shadow);
  -moz-box-shadow: 0px 0px 52px 0px var(--color-shadow);
  box-shadow: 0px 0px 10px -3px var(--color-shadow);
}

.page_contact_let {
  color: var(--color-white);
  margin: 3rem 0 0 1rem;
}

.image5 {
  @media only screen and (max-width: 768px) {
    margin: -103rem 0rem 0rem 1rem;
    width: 22rem;
    height: 30rem;
  }
  width: 33.5rem;
  height: 50rem;
  position: absolute;
  margin: -45rem 0rem 0rem 42rem;
  transform: scaleX(-1);
  z-index: -1;
  overflow: hidden;
}

.image6{
  @media only screen and (max-width: 768px) {
    margin: -2rem 0 0 -19rem;
    width: 40rem;
  }
  width: 52rem;
  position: absolute;
  margin: -14rem 0rem 0rem -10rem;
  transform: scaleX(-1);
  z-index: -1;
}

.image7{
  @media only screen and (max-width: 768px) {
    margin: 1rem 0rem 0rem 0rem;
    width: 17rem;
    padding: 11rem 0rem 0rem 0rem;
  }
  width: 38rem;
  position: relative;
  margin: 0rem 0rem 0rem 0rem;
  padding: 7rem 0rem 0rem 18rem;
}

.par {
  @media (max-width: 768px) {
    padding-left: 2rem;
  }
  padding: 10rem 0rem 0rem 3rem;
}

.cardHolder{
  margin: 0rem 0rem 0rem 2rem;
}

.page__card_section{
  margin: 0rem 0rem 7rem 0rem;
}
.demo_button{
  height: 3.4rem !important;
  padding: 5px 30px !important;
  border: none !important;
  border-radius: 30px !important;
}

.privacy_mobile{
  @media (max-width: 768px) {
    padding-top: 0rem;
    margin-top: -10rem;
  }
}

.privacy_image_container{
  @media (max-width: 768px) {
    margin: 13rem 0rem 0rem 0rem;
    width: 18rem;
    height: 18rem;
  }
  z-index: -1;
  background-color: white;
  border-radius: 100%;
  width: 21rem;
  height: 21rem;
  margin: 8rem 0rem 0rem 18rem;
  position: absolute;

}