.page__first_image_section {
  z-index: 0;
  top: 0;
}

.page__first_image {
  width: 50rem;
}

.page__first_section {

}

p, .body-text {
  font-size: 18px !important;
  font-weight: 400 !important;
}

.page-content {
  padding: 5rem var(--layout-padding-X);
}
