.card__container{
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  width: 100%;
}

.card__image{
  width: 20rem;
  height: 12rem;
  border-radius: 1rem;
  object-fit: cover;
  margin-bottom: 10%;
}

.card__title{
  width: 80%;
  margin-bottom: 5%;
  line-height: 1;
}

.card__sub_description, .card__description {
  text-align: left;
  width: 80%;
}
