
.card_style{
  display: flex;
  flex-direction: column;
}

.card_image{
  width: 100%;
  border-radius: 8%;
}

.card_title{
}

.card_description {
  height: 2.5em;
}

.card_sub_description{
  text-align: left;
}
