
.card_style{
  display: flex;
  flex-direction: column;
}

.card_image{
  width: 100%;
  border-radius: 8%;
}

.card_title{
  font-size: 50px;
  font-weight: 100;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #2a2a73;
}

.card_description {
  height: 2.5em;
  font-family: Muli;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.27;
  text-align: left;
  color: #000000;
}

.card_sub_description{
  height: 4em;
  font-family: Muli;
  font-size: 18px;
  line-height: 1.28;
  text-align: left;
  color: #000000;
}