.brand-separator {
  width: 40px;
  border: solid 1.5px var(--color-primary-secondary-button);
  border-radius: 25px;
  margin: 2rem;
}

@media only screen and (max-width: 600px) {
  .brand-separator {
    width: 10%;
  }
}
