.brand-separator {
  width: 1.5rem;
  border: solid 1px var(--color-primary-background);
  border-radius: 25px;
  align-self: center;
  margin: 1rem 0rem 1rem 5.2rem;
}

@media only screen and (max-width: 600px) {
  .brand-separator {
    width: 10%;
  }
}
