h1, .main-title {
  font-size: 50px;
  font-weight: bold;
  color: var(--color-primary-background);
}

h2, .sub-title {
  font-size: 26px !important;
  font-weight: 600 !important;
}

h4, .sub-title {
  font-size: 24px !important;
  font-weight: 600 !important;
}
