.section_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section_title{
  width:100%;
  text-align: center;
}

.page__intro_section_h2 {
  color: var(--color-secondary-links);
}

.page__intro_section_h1 {
  padding-bottom: 1%;
  color: var(--color-primary-background);
}

.page__intro_section_paragraph {
  font-weight: 100;
  color: var(--color-primary);
}

.page__intro_section_button {
  background-color: transparent;
  object-fit: contain;
  width: 10rem;
  height: 3rem;
  border: solid transparent;
}

.btn_image{
  width: 9rem;
  height: 9rem;
}

.page__right_section_image {
  @media only screen and (max-width: 750px) {
    width: 100%;
  }
  width: 150%;
  float: right;
}

.page__left_section {
  margin-top: 5%;
}

.page__services_section:before {
  content: url("../../../public/illustrations/gray-bckg.svg");
  position: absolute;
  width: 100%;
}
